<div class="navbar" style="background-color: yellow;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="nav"><i class="fa-solid fa-store"></i>   Store Logo</a>
     
        <div class="nav justify-content-end">
          <a routerLinkActive = "active" class="nav-link " routerLink="home"><b>Home</b></a>
          <a routerLinkActive = "active" class="nav-link "  routerLink="products"><b>Products</b></a>
          <a routerLinkActive = "active" class="nav-link" routerLink="login"><b>Login</b></a>
          <a routerLinkActive = "active" class="nav-link " routerLink="about"><b>About</b></a>
          
             </div>
       </div>
      </div>
<router-outlet></router-outlet>
