<div class="filter-container"><span>Filter</span>
    <input type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()"><span>{{"All items("+all+")"}}</span>
    <input type="radio" name="filter" value="iphone" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()"><span>{{"iphone("+iphone+")"}}</span>
    <input type="radio" name="filter" value="ipad" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()"><span>{{"ipad("+ipad+")"}}</span>
    <input type="radio" name="filter" value="mac" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()"><span>{{"mac("+mac+")"}}</span>
    <input type="radio" name="filter" value="watch" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()"><span>{{"watch("+watch+")"}}</span>
</div>
